---
import Navbar from "../components/layout/Navbar.astro";
import FlashService from "../components/sections/FlashService.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import TrustSection from "../components/sections/TrustSection.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import ContactSection from "../components/sections/ContactSection.astro";
import Footer from "../components/layout/Footer.astro";
import Layout from "../layouts/Layout.astro";
import FloatingButton from "../components/sections/FloatingButton.astro";
---

<Layout>
  <div class="min-h-screen bg-background text-foreground">
    {/* Navigation */}
    <Navbar />
    <main>
      {/* Hero Section */}
      <Hero />
      {/* Flash Service Section */}
      <FlashService />
      {/* Services Section */}
      <Services />
      {/* Trust Section */}
      <TrustSection />
      {/* Testimonials */}
      <Testimonials />
      {/* Contact */}
      <ContactSection />
      {/* Footer */}
      <Footer />
      {/* Floating WhatsApp Button */}
      <FloatingButton />
    </main>
  </div>
</Layout>
